@model DAL.Product

@{
    ViewData["Title"] = Model != null? "Edit":"Create";
}
    <style>
        body {
            background-image: linear-gradient(to right,rgba(225,225,225,0), rgba(30,75,115,1));
        }
    </style>
<h2>Write a Poem</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" class="form-control" />
            @*<div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News" class="control-label"></label>
                <textarea asp-for="News" style="height:200px" class="form-control"></textarea>
                <span asp-validation-for="News" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.Description, new[] {
                 new SelectListItem() {Text = "Sports", Value = "Sports"},
                 new SelectListItem() {Text = "Books", Value = "Books"},
                 new SelectListItem() {Text = "Election", Value = "Election"}
                 }, "Category")
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                @*<select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList,"CategoryId","NameId","--Select--"))" class="form-control">
                <option value="">--Select--</option>
            </select>*@
                @*<input asp-for="CategoryId" class="form-control" />*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
